@import "tailwindcss";

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-button-prev": "#FFF";
  --swiper-button-next": "#FFF";
  */
}

/* Custom styles for Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: white !important; /* Change arrow color */
}

footer {
  background-color: #3C3C5D;
}

h1, h2, h3 {
  color: #3C3C5D;
}

nav {
  border-bottom: 1px solid #3C3C5D;
  text-align: center;
}

.instagram {
  width: 2%;
  height: 2%;
  margin: 0 auto
}

.gallery-link:hover {
  color:#9d9dda;
}